@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root
{

/* -------------THEME 1-------------- */

    --1_Main-Background: hsl(222, 26%, 31%);
    --1_Toggle-Keypad-Background: hsl(223, 31%, 20%);
    --1_ScreenBackground: hsl(224, 36%, 15%);
    --1_Special-Key-Background: hsl(225, 21%, 49%);
    --1_Active-Special-Key: hsl(224, 19%, 54%);
    --1_Special-Key-Shadow: hsl(224, 28%, 35%);
    --1_Toggle_Equal-Key:hsl(6, 63%, 50%);
    --1_Active-Equal-Key: hsl(6, 55%, 55%);
    --1_Equal-Key-Shadow: hsl(6, 70%, 34%);
    --1_Key-Background: hsl(30, 25%, 89%);
    --1_Active-Key: hsl(30, 10%, 92%);
    --1_Key-Shadow: hsl(28, 16%, 65%);
    --1_Key-Text: hsl(221, 14%, 31%);

/* -------------THEME 2-------------- */

    --2_Main-Background: hsl(0, 0%, 90%);
    --2_Toggle-Keypad-Background: hsl(0, 5%, 81%);
    --2_ScreenBackground: hsl(0, 0%, 93%);
    --2_Special-Key-Background: hsl(185, 42%, 37%);
    --2_Special-Key-Shadow: hsl(185, 58%, 25%);
    --2_Toggle_Equal-Key:hsl(25, 98%, 40%);
    --2_Equal-Key-Shadow: hsl(25, 99%, 27%);
    --2_Key-Background: hsl(45, 7%, 89%);
    --2_Key-Shadow: hsl(28, 16%, 65%);
    --2_Key-Text: hsl(60, 10%, 19%);

    /* -------------THEME 3-------------- */

    --3_Main-Background: hsl(268, 75%, 9%);
    --3_Toggle-Keypad-Background: hsl(268, 71%, 12%);

    --3_Special-Key-Background: hsl(281, 89%, 26%);
    --3_Special-Key-Shadow: hsl(285, 91%, 52%);
    --3_Toggle_Equal-Key:hsl(176, 100%, 44%);
    --3_Equal-Key-Shadow: hsl(177, 92%, 70%);
    --3_Key-Background: hsl(268, 47%, 21%);
    --3_Key-Shadow: hsl(290, 70%, 36%);
    --3_Key-Text: hsl(52, 100%, 62%);
    --Dark-blue: hsl(198, 20%, 13%);

}

body {
    font-family: "League Spartan", sans-serif;
    background-color: var(--1_Main-Background);
}


/* ------------------------------------MOBILE-------------------------------- */

header {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 26px auto 30px auto;
}

header h1 {
    color: white;
}

.switch-container {
    display: flex;
    flex-direction: column;
}

.theme-number {
    color: white;
    font-size: 12px;
    font-weight: 400;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.switch {
    background-color: var(--1_Toggle-Keypad-Background);
    width: 70px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.switch input {
    appearance: none;
    background-color: var(--1_Toggle_Equal-Key);
    height: 14px;
    width: 14px;
    border-radius: 7px;
    opacity: 0;
    /* transition: 0.2s ease; */
}

.switch input:hover {
    cursor: pointer;
}

.switch .selected {
    opacity: 1;
}

.switch::before {
    content: "THEME";
    display: block;
    position: absolute;
    margin-right: 150px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}


.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    background-color: var(--1_ScreenBackground);
    width: 320px;
    height: 88px;
    padding: 25px;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
}


.keypad {
    margin-top: 25px;
    background-color: var(--1_Toggle-Keypad-Background);
    width: 320px;
    height: 420px; /* height: auto; */
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
}

.key-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    width: 100%;
}

.key-row-b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    height: 64px;
    width: 100%;
}

button {
    border-radius: 8px;
    font-size: 28px;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    border: none;
}

.key-row button {
    width: 22%;;
}

.key-row-b button {
    width: 48%;
}

.key {
    background-color: var(--1_Key-Background);
    box-shadow: inset 0 -5px 0 0 var(--1_Key-Shadow);
    color: var(--1_Key-Text);
}

.spe-key {
    background-color: var(--1_Special-Key-Background);
    box-shadow: inset 0 -5px 0 0 var(--1_Special-Key-Shadow);
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.equal-key {
    color: white;
    background-color: var(--1_Toggle_Equal-Key);
    box-shadow: inset 0 -5px 0 0 var(--1_Equal-Key-Shadow);
    font-size: 18px;
}

/* --------------------Active States----------------------- */

.key:active {
    cursor: pointer;
    background-color: var(--1_Active-Key);
    box-shadow: inset 0 5px 0 0 var(--1_Toggle-Keypad-Background);
    border: none;
    font-size: 24px;
}

.spe-key:active {
    cursor: pointer;
    background-color: var(--1_Active-Special-Key);
    box-shadow: inset 0 5px 0 0 var(--1_Toggle-Keypad-Background);
    border: none;
    font-size: 16px;
}

.equal-key:active {
    cursor: pointer;
    background-color: var(--1_Active-Equal-Key);
    box-shadow: inset 0 5px 0 0 var(--1_Toggle-Keypad-Background);
    border: none;
    font-size: 16px;
}

.selected:active {
    cursor: pointer;
    background-color: var(--1_Active-Equal-Key);
}


.attribution {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.attribution p {
    color: var(--1_Key-Background);
}

.attribution a {
    color: var(--1_Key-Background) ;
}

.attribution a:active {
    color: var(--1_Toggle_Equal-Key) ;
}


/* -----------------------------------DESKTOP-------------------------------- */

@media (min-width: 1300px) {

    header {
        width: 500px;
        margin: 20px auto 30px auto;
    }

    .screen {
        background-color: var(--1_ScreenBackground);
        width: 500px;
        height: 120px;
        padding: 35px;
        font-size: 50px;
    }
    
    .keypad {
        width: 500px;
    }


    .attribution {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
    }
    
    .attribution p {
        color: var(--1_Key-Background);
    }
    
    .attribution a {
        color: var(--1_Key-Background);
    }

    .attribution a:hover {
        cursor: pointer;
        color: var(--1_Toggle_Equal-Key)
    }






}